Name:    satellite-installer
Version: 6.11
Release: 1%{?dist}
Summary: A fake satellite-installer RPM that symlinks to foreman-installer and foreman-proxy-certs-generate

License: GPLv3+

Requires: foreman-installer-katello

%description
A fake satellite-installer RPM that symlinks to foreman-installer and foreman-proxy-certs-generate

%build

%install
mkdir -p %{buildroot}/usr/sbin
ln -s /usr/sbin/foreman-installer %{buildroot}/usr/sbin/satellite-installer
ln -s /usr/sbin/foreman-proxy-certs-generate %{buildroot}/usr/sbin/capsule-certs-generate

mkdir -p %{buildroot}/etc/foreman-installer/scenarios.d
ln -s /etc/foreman-installer/scenarios.d/katello.yaml %{buildroot}/etc/foreman-installer/scenarios.d/satellite.yaml
ln -s /etc/foreman-installer/scenarios.d/katello-answers.yaml %{buildroot}/etc/foreman-installer/scenarios.d/satellite-answers.yaml

%files
/usr/sbin/satellite-installer
/usr/sbin/capsule-certs-generate
/etc/foreman-installer/scenarios.d/satellite.yaml
/etc/foreman-installer/scenarios.d/satellite-answers.yaml

%changelog
* Thu Mar 24 2022 Evgeni Golov - 6.11-1
- Bump version to a realistic one

* Thu Apr 15 2021 Eric D Helms <ericdhelms@gmail.com> 1.0-1
- Initial version of the package
